:root {
    --main-color: #383e52;
    --text-primary: #dddddd;
    --svg-primary: invert(76%) sepia(40%) saturate(376%) hue-rotate(124deg) brightness(91%) contrast(88%);
}

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    overflow: hidden;
}

.icon {
    filter: var(--svg-primary);
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90vw;
}

.backdrop {
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: var(--main-color);
    object-fit: cover;

    z-index: -1;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 15vh;

    background-color: var(--main-color);

    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.6);
}

header>* {
    padding: 0 6px;
    width: 42px;
}



.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70vh;

    color: var(--text-primary);

    backdrop-filter: brightness(50%) blur(3px);
}

.banner>* {
    margin: 10px 0;
}

.banner-mid {
    display: flex;
}

.banner-mid>* {
    margin: 0 12px;
}

.banner-image {
    width: 50vw;
    height: 50vw;

    object-fit: cover;

    border-radius: 100%;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.6);

}

.banner-icon {
    filter: var(--svg-primary);
    width: 10vw;
}



.playback-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;

    background-color: var(--main-color);

    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.6);
}

.playback-buttons>* {
    width: 3em;
}